{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Watchlist</h2>
  
</div>
<div class="container" id="listings">
    {% for item in items %}
    {% for i in item %}
    <div class="card mb-3" style="max-width: 540px;" id="card-listings">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{i.link}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">{{i.description}}</p>
              <p class="card-text">${{i.price}}</p>
              <a href="{% url 'listingpage' i.id %}"><button class="btn btn-outline-success">Bid Now!</button></a>
              <p class="card-text"><small class="text-muted">{{i.time}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% empty %}
      <h3>No listings found in your watchlist...</h3>
      {% endfor %}
</div>
{% endblock %}